<div class="container">
  <div class="row">
  </div>
  <h1 class="center-group">Profiles</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="devoured">
        <h2>Profiles</h2>
        <ul>
          {{#each profiles}}
          <li>
          {{this.firstName}}
          {{this.birthday}}
          </li>

          
         <form method="GET" action="/email">
           <button type="submit">Email Hot Date</button>
         </form> 
          {{/each}}


        </ul>
      </div>
    </div>
  </div>
</div>