form.signup,
form.login {
  margin-top: 50px;
}
.round-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #f72585;
  color: white;
  background-color: #f72585;
}
.background-colorz {
border-color: #f72585;
color: white;
}
.background-colorz-2 {
  border-color: #f72585;
  color: black;
  }
.background-colorz::placeholder{
  text-align: center;
  animation-name: colorchange;
  animation-duration: 1s;
}
    @keyframes colorchange {
      0% { color: white; }
      50% { color: blue; }
      100% { color: red; }
    }
.background-image {
  background-image: url(../imgs/background.jpg);
  color: white;
}
.submit-button {
  animation: colorchange 1s infinite;
  border-color: #f72585;
  background-color: #f72585;
}