form.signup,
form.login {
  margin-top: 50px;
}
.round-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #f72585;
  color: white;
  background-color: #f72585;
}
.background-colorz {
border-color: #f72585;
color: white;
}
.background-colorz-2 {
  border-color: #f72585;
  color: black;
  }
.background-colorz::placeholder{
  text-align: center;
  animation-name: colorchange;
  animation-duration: 1s;
}
    @keyframes colorchange {
      0% { color: white; }
      50% { color: blue; }
      100% { color: red; }
    }
.background-image {
  background-image: url(../imgs/background.jpg);
  color: white;
}
.submit-button {
  animation: colorchange 1s infinite;
  border-color: #f72585;
  background-color: #f72585;
}
.center {
  text-align:center;
  color: #f72585;
  flex-grow: 1;
}
.main-color{
  color: #f72585;
}

.profile-info section {
  min-width: 100px;
  margin: 13px;
}
.profile-info{
  list-style-type: none;
  padding: 38px;
  background: rgb(0 0 0 / 45%);
  margin: 50px;
}
.background-images-two {
  background-image: url(../imgs/matchesbackground.jpg);
  background-size: cover;
  color: white;
}
.match-button {
  color: white;
  border-color: #f72585;
  background-color: #f72585;
  border-radius: 25px;
  height: 65px;
  width: 66px;
  font-weight: bold;
}